.header {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;

    background-image: linear-gradient(
    to right bottom,
    var(--bg-gradient-color-1),
    var(--bg-gradient-color-2)
    ), url('../../images/individual/header/Header_bg.jpg');

    background-size: cover;
    background-repeat: no-repeat;
}

.fake-header {
    width: 60%;
    height: 10%;
}

header {
    width: 100vw;
    height: 10%;

    z-index: 1000;

    display: flex;
    justify-content: center;

    position: fixed;
}

#header-content {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    width: 58%;

    display: flex;
    justify-content: space-between;
}

nav button {
    border: none;
    background: transparent;
}

.header-carousel {
    width: 80%;
    height: auto;

    display: flex;

    overflow-x: scroll;
}

.header-carousel-block {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#block-1 h1 {
    display: flex;
    flex-direction: column;
}

#block-1 h1::after {
    content: '';

    width: calc(100vw * 0.03125);
    height: 1px;

    display: block;
    align-self: center;

    margin-top: calc(100vw * 0.0146412884333821);
    margin-bottom: calc(100vw * 0.0183016105417277);

    background-color: #00e0d0;
}

#block-1 p {
    width: 100%;
    
    margin-bottom: calc(100vw * 0.0366032210834553);

    text-align: center;
}

.header-carousel-controlls-buttons {
    width: 7%;
    height: auto;

    display: flex;
    justify-content: space-between;
}

.header-controlls-button {
    width: 0.7vw;
    height: 0.7vw;
    
    background-color: transparent;

    border: 1px solid white;
    border-radius: 100%;

    transition: background-color .2s;
}

.header-button-selected {
    background-color: #00e0d0;
    border-color: #00e0d0;
}
